@using System.Web.UI.WebControls
@using IdAuthority.Models
@using IdAuthority.Models.Search
@using Microsoft.AspNet.Facebook.Models
@model MyAppUser
@{
    ViewBag.Title = "Home Page";
}
<script src="@Url.Content("~/Scripts/ApplicationScripts/AjaxCalls.js")"></script>

<article class="intro">
    <span id="profilePicture">
        @if (Model.ProfilePicture != null && Model.ProfilePicture.Data != null)
        {
            <img src="@Model.ProfilePicture.Data.Url" />
        }
    </span>
    <h3>Welcome @Model.Name</h3>
    <label>Email: @Model.Email</label>
</article>


<article id="content">
    @using (Html.BeginForm("ConfirmarExpertise", "Home"))
    {
        <div class="left" id="expertise">
            <h4>Cadastre sua especialidade !</h4>
            <tr>
                <td>
                    @Html.Label("História")
                    @Html.CheckBoxFor(x => x.Historia)
                    <br>
                </td>
                <td>
                    @Html.Label("Geografia")
                    @Html.CheckBoxFor(x => x.Geografia)
                    <br>
                </td>
                <td>
                    @Html.Label("Biologia")
                    @Html.CheckBoxFor(x => x.Biologia)
                    <br>
                </td>
                <td>
                    @Html.Label("Sociologia")
                    @Html.CheckBoxFor(x => x.Sociologia)
                    <br>
                </td>
                <td>
                    @Html.Label("Filosofia")
                    @Html.CheckBoxFor(x => x.Filosofia)
                    <br>
                </td>
                <td>
                    @Html.Label("Matemática")
                    @Html.CheckBoxFor(x => x.Matematica)
                    <br>
                </td>
                <td>
                    @Html.Label("Literatura")
                    @Html.CheckBoxFor(x => x.Literatura)
                    <br>
                </td>
                <td>
                    @Html.Label("Gramática")
                    @Html.CheckBoxFor(x => x.Gramatica)
                    <br>
                </td>
                <td>
                    @Html.Label("Física")
                    @Html.CheckBoxFor(x => x.Fisica)
                    <br>
                </td>
                <td>
                    @Html.Label("Química")
                    @Html.CheckBoxFor(x => x.Quimica)
                    <br>
                </td>
                <td>
                    @Html.Label("Política")
                    @Html.CheckBoxFor(x => x.Politica)
                    <br>
                </td>
                <td>
                    @Html.Label("Música")
                    @Html.CheckBoxFor(x => x.Musica)
                    <br>
                </td>
                <td>
                    @Html.Label("Cinema")
                    @Html.CheckBoxFor(x => x.Cinema)
                    <br>
                </td>
                <td>
                    <button class="btn btn-primary" id="btnFeito" onclick="submit()" title="Buscar">Cadastrar Expertise</button>
                </td>
            </tr>
        </div>
    }
    <div class="right">
        <h4>Palavra Chave</h4>
        @Html.TextBox("ParametroBusca1")
        <br>
        @Html.TextBox("ParametroBusca2")
        <br>
        @Html.TextBox("ParametroBusca3")
        <br>

        <a href="@Url.Action("Search", new {palavraChave = "Qualquer coisa"})"
           title="Buscar">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABDElEQVQ4T52SvW0CQRBG33VACZbcACUgKrDcgBEhEaFDKkA04J/QEaIEKkCIiJAS7AYMemgH761vg2Ol083N7bz55qfh7zwAk+xbcwAsgO/Cf/tskhWBJ+AF+AHOwAcwBT6BfRdEgJlHKYv2Nvk2KbvQYU2JACUa5KUAGBzH/2tgDKxKFQEw0J++82Dv63vK+tFiBMBmqaIMzlVoq6YKmFc6bWlRXidA6e/Ac1eGNIE34DHZ/xTErB2T9Tqy6LyqTPALHGpj1K9ELy9Tt4UK2QGvKXDWtVCxSLF1LpTBcYSoSN8XcCz3IQfUtjX8luJjI1V7Xe8+AFUE4AbpA4gyW5C+gBIyvwcQkOtSXQBC8TlBlRvciwAAAABJRU5ErkJggg==" />
        </a>
    </div>

</article>