@using IdAuthority.Models
@using Microsoft.AspNet.Facebook.Models
@model MyAppUser
@{
    ViewBag.Title = "Home Page";
}

<article class="intro">
    <span id="profilePicture">
        @if (Model.ProfilePicture != null && Model.ProfilePicture.Data != null)
        {
            <img src="@Model.ProfilePicture.Data.Url" />
        }
    </span>
    <h3>Welcome @Model.Name</h3>
    <label>Email: @Model.Email</label>
</article>

<article id="content">
    <div class="left">
        <h4>Cadastre sua especialidade !</h4>
        <br>
        @Html.Label("História")
        @Html.CheckBox("Historia")
        <br>
        @Html.Label("Geografia")
        @Html.CheckBox("Geografia")
        <br>
        @Html.Label("Biologia")
        @Html.CheckBox("Biologia")
        <br>
        @Html.Label("Sociologia")
        @Html.CheckBox("Sociologia")
        <br>
        @Html.Label("Filosofia")
        @Html.CheckBox("Filosofia")
        <br>
        @Html.Label("Matemática")
        @Html.CheckBox("Matematica")
        <br>
        @Html.Label("Literatura")
        @Html.CheckBox("Literatura")
        <br>
        @Html.Label("Gramática")
        @Html.CheckBox("Gramatica")
        <br>
        @Html.Label("Física")
        @Html.CheckBox("Fisica")
        <br>
        @Html.Label("Química")
        @Html.CheckBox("Quimica")
        <br>
        @Html.Label("Política")
        @Html.CheckBox("Politica")
        <br>
        @Html.Label("Música")
        @Html.CheckBox("Musica")
        <br>
        @Html.Label("Cinema")
        @Html.CheckBox("Cinema")
        
    </div>
    <div class="right">
        <h4>Palavra Chave</h4>
        @Html.TextBox("ParametroBusca1")
        <br>
        @Html.TextBox("ParametroBusca2")
        <br>
        @Html.TextBox("ParametroBusca3")
        <br>

        <a href="@Url.Action("Search", new {palavraChave = "Qualquer coisa" })"
           title="Buscar">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABDElEQVQ4T52SvW0CQRBG33VACZbcACUgKrDcgBEhEaFDKkA04J/QEaIEKkCIiJAS7AYMemgH761vg2Ol083N7bz55qfh7zwAk+xbcwAsgO/Cf/tskhWBJ+AF+AHOwAcwBT6BfRdEgJlHKYv2Nvk2KbvQYU2JACUa5KUAGBzH/2tgDKxKFQEw0J++82Dv63vK+tFiBMBmqaIMzlVoq6YKmFc6bWlRXidA6e/Ac1eGNIE34DHZ/xTErB2T9Tqy6LyqTPALHGpj1K9ELy9Tt4UK2QGvKXDWtVCxSLF1LpTBcYSoSN8XcCz3IQfUtjX8luJjI1V7Xe8+AFUE4AbpA4gyW5C+gBIyvwcQkOtSXQBC8TlBlRvciwAAAABJRU5ErkJggg==" />
        </a>
    </div>
</article>