@{
    ViewBag.Title = "CadastrarExpertise";
}


@model IdAuthority.Models.Expertise.ExpertiseDto

<div style="height: 65px; width: 100%; margin: 10px 0px; background-color: #fa8072; display: inline-flex; border-radius: 10px">
    <div style="color: #fff; font-weight: bold; font-size: 25px; margin: auto">
        Cadastre suas especialidades !
    </div>
</div>

<style>
    tr:nth-child(odd) {
        background-color: #ffffff;
    }

    tr:nth-child(even) {
        background-color: #cccccc;
    }

</style>


<article>
    @using (Html.BeginForm("SalvarExpertise", "Home"))
    {
        <div style="text-align: center">
            <table align="center" style="width: 240px; color: #333">
                <tr>
                    <td>
                        @Html.Label("História")
                    </td>
                    <td>
                        @Html.CheckBoxFor(x => x.Historia)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Geografia")
                    </td>
                    <td>
                        @Html.CheckBoxFor(x => x.Geografia)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Biologia")
                    </td>
                    <td>
                        @Html.CheckBoxFor(x => x.Biologia)
                        <br>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Sociologia")
                    </td>
                    <td>
                        @Html.CheckBoxFor(x => x.Sociologia)
                        <br>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Filosofia")
                    </td>
                    <td>
                        @Html.CheckBoxFor(x => x.Filosofia)
                        <br>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Matemática")
                    </td>
                    <td>
                        @Html.CheckBoxFor(x => x.Matematica)
                        <br>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Literatura")
                    </td>
                    <td>
                        @Html.CheckBoxFor(x => x.Literatura)
                        <br>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Gramática")
                    </td>
                    <td>
                        @Html.CheckBoxFor(x => x.Gramatica)
                        <br>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Física")
                    </td>
                    <td>
                        @Html.CheckBoxFor(x => x.Fisica)
                        <br>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Química")
                    </td>
                    <td>
                        @Html.CheckBoxFor(x => x.Quimica)
                        <br>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Política")
                    </td>
                    <td>
                        @Html.CheckBoxFor(x => x.Politica)
                        <br>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Música")
                    </td>
                    <td>
                        @Html.CheckBoxFor(x => x.Musica)
                        <br>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Cinema")
                    </td>
                    <td>
                        @Html.CheckBoxFor(x => x.Cinema)
                        <br>
                    </td>
                </tr>
            </table>
            <br/>
            <button class="btn btn-primary" id="btnFeito" onclick=" submit() " title="Buscar">Salvar</button>
        </div>
    }
    

</article>
