@{
    ViewBag.Title = "AutoridadeCognitiva";
}
@model IdAuthority.Models.AutoridadeCognitiva.AutoridadeCognitivaDto

<div style="height: 65px; width: 100%; margin: 10px 0px; background-color: #6495ed; display: inline-flex; border-radius: 10px">
    <div style="color: #fff; font-weight: bold; font-size: 25px; margin: auto">
        Buscar Autoridades no assunto
    </div>
</div>

<style>
    tr:nth-child(even) {
        background-color: #ffffff;
    }

    tr:nth-child(odd) {
        background-color: #cccccc;
    }
</style>

<div style="text-align: center">
    
    @using (Html.BeginForm("Search", "AutoridadeCognitiva"))
    {
        <h4>Insira as palavras chave separadas por ponto e virgula ";"</h4>
        @Html.TextBoxFor(x => x.PalavraChave1)
        <br><br>
        <table align="center" style="width: 240px; color: #333">
            <tr>
                <td>
                    @Html.Label("História")
                </td>
                <td>
                    @Html.CheckBoxFor(x => x.Historia)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Geografia")
                </td>
                <td>
                    @Html.CheckBoxFor(x => x.Geografia)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Biologia")
                </td>
                <td>
                    @Html.CheckBoxFor(x => x.Biologia)
                    <br>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Sociologia")
                </td>
                <td>
                    @Html.CheckBoxFor(x => x.Sociologia)
                    <br>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Filosofia")
                </td>
                <td>
                    @Html.CheckBoxFor(x => x.Filosofia)
                    <br>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Matemática")
                </td>
                <td>
                    @Html.CheckBoxFor(x => x.Matematica)
                    <br>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Literatura")
                </td>
                <td>
                    @Html.CheckBoxFor(x => x.Literatura)
                    <br>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Gramática")
                </td>
                <td>
                    @Html.CheckBoxFor(x => x.Gramatica)
                    <br>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Física")
                </td>
                <td>
                    @Html.CheckBoxFor(x => x.Fisica)
                    <br>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Química")
                </td>
                <td>
                    @Html.CheckBoxFor(x => x.Quimica)
                    <br>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Política")
                </td>
                <td>
                    @Html.CheckBoxFor(x => x.Politica)
                    <br>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Música")
                </td>
                <td>
                    @Html.CheckBoxFor(x => x.Musica)
                    <br>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Cinema")
                </td>
                <td>
                    @Html.CheckBoxFor(x => x.Cinema)
                    <br>
                </td>
            </tr>
        </table>
        <br><br>
        <button class="btn btn-primary" id="btnFeito" onclick="submit()" title="Buscar">Pesquisar</button>
    }
</div>
